services:
  mongodb:
    image: mongo:3
    volumes:
      - mongodb:/data/db
  locomotive:
    image: quay.io/shopinvader/locomotive-shopinvader-demo:v4.0.x-latest
    environment:
      - VIRTUAL_HOST=locomotive-shopinvader-demo.dy
      - VIRTUAL_PORT=3000
      - RAILS_ENV=development
      - STORE_ASSET_IN_S3=false
      - DRAGON_FLY_SECRET=thisISaDEMOkeyNOTsecret
      - MONGODB_DEV_HOST=mongodb
      - LOCOMOTIVE_ADMIN_SSL_REDIRECT=false
      - LOCOMOTIVE_ENABLE_REGISTRATION=true
    volumes:
      - usr_src_app_log:/usr/src/app/tmp
      - usr_src_app_tmp:/usr/src/app/log
      - usr_src_app_public_sites:/usr/src/app/public/sites
      - usr_src_app_public_uploaded:/usr/src/app/public/uploaded_assets
    depends_on:
      - mongodb
      - elastic
    ports:
      - 3000:3000
  pgdb:
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_DB=db
    image: quay.io/akretion/postgresql:10
    volumes:
      - pgdb:/var/lib/postgresql/data
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.0.0
    environment:
      - discovery.type=single-node
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
  odoo:
    build: ./containers/odoo
    volumes:
      - data-odoo:/data/odoo
    environment:
      RUNNING_ENV: demo
      DB_USER: odoo
      DB_PASSWORD: odoo
      DB_NAME: odoo-shopinvader-demo
      DB_HOST: pgdb
      SERVER_WIDE_MODULES: web,queue_job
      ODOO_QUEUE_JOB_CHANNEL: =root:4,root.search_engine:4,root.search_engine.recompute_json:4,root.search_engine.prepare_batch_export:4
      ADMIN_PASSWD: admin
      UNACCENT: "true"
      LIMIT_TIME_CPU: 900
      LIMIT_TIME_REAL: 1800
      MAX_CRON_THREADS: 1
      LOG_LEVEL: info
      ADDITIONAL_ODOO_RC: |-
        [ir.config_parameter]
        report.url=http://odoo:8069
        web.base.url=http://odoo:8069
        
        [api_key_test]
        user=admin
        key=123456
      KWKHTMLTOPDF_SERVER_URL: http://kwkhtmltopdf:8080
    depends_on:
      - pgdb
      - locomotive
      - elastic
      - kwkhtmltopdf
    ports:
      - 8069:8069
      - 8072:8072
  kwkhtmltopdf:
    image: acsone/kwkhtmltopdf
    ports:
      - 8080:8080
  wagon:
    image: quay.io/akretion/shopinvader-wagon:latest
    ports:
      - 3333:3333
    volumes:
      - ./template:/workspace
    entrypoint: /usr/local/bin/entrypoint gosu ubuntu bash
version: '3'
volumes:
  data-odoo:
  usr_src_app_log:
  usr_src_app_tmp:
  usr_src_app_public_sites:
  usr_src_app_public_uploaded:
  mongodb:
  pgdb:
  esdata:
